/*
CLASS == .className
ID == #IdName 
*/

#main-page-container{
    column-count: 2;
}
/* Main Page INFO CSS */
#main-page-info-col{
    width:50vw; 
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    margin-top:10%;
    margin-bottom:auto;
    float:left;
    
}

#main-page-info-col h1{
    font-size: 100px;
    
}
#main-page-info-col h2{
    font-size: 50px;
}

/* NAV BAR CSS */
#main-page-nav-col{
    width: 50vw;
    height: 100vh;
    margin-top: 10%;
    float: right;
    text-align: center;
}


#nav-bar{
    
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    text-align: center;
    margin-top: 7%;
    
}

body{
    background-image: url("../resources/home-page-backgroundjpg.jpg");
    background-size: cover; 
}

a:link{
    color: rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0.70);
    
}
a:visited{
    color: rgb(255, 0, 0);
}
a:hover{
    color: yellow;
}
li{
    list-style: none;
    padding-bottom: 5%;
}